body {
	background-color: black;
	background-image: url("../img/1background.jpg");
	background-attachment: fixed;
}


.container {
	margin-left: auto;
    margin-right: auto;
	background-color: white;
	width: 70%;

}


#logo {
	margin-left: 40px;
}

#address {
	width:700px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: rgb(205,149,12);
	margin-top: -20px;
	margin-left: 200px;
}

#bar {
	background-color: black;
	border-style: double;
	border-color: gray;
	padding: 15px;
	font-weight: bold;
	color: rgb(205,149,12);
}

#columns {
	margin-left: -20px !important;
}

#bar a {
	color: rgb(205,149,12);
	padding-right: 50px;
	padding-left: 20px;
}



#news {
	background-color: #FFA500;
	float: left;
	width: 200px;
	padding: 10px;
	height: 610px;
}

#home {
	text-align: justify;
	background-color: white;
	float: left;
	width: 415px;
	height: 600px;
	padding-left: 10px;
	padding-right: auto;
}


#links {
	background-color: #FFA500;
	float: right;
	width: 200px;
	height: 600px;
	padding: 15px;
}

#links a {
	color: #8B4500;
	font-weight: bold;
	font-size: 14px;
}

#links ul  {
	list-style-type: none;
	float: left;
	padding-left: 0px;
}

#links li {
	padding-top: 15px;
}

#footer {
	background: black;
	clear: both;
	border-top: solid 6px black;
	font-weight: bold;
	color: rgb(205,149,12);
	padding-bottom: 20px;
	text-align: center;
	display: block;
	margin: 0px auto;
}

img.monkey {
	width: 20%;
	height: 20%;
	float: left;
}

img.pancakes {
	height: 20%;
	float: right;
	padding-left: 5px;
}

img.logo2 {
	width: 7%;
	height: 7%;
	text-align: center;
	display: block;
	margin: 0px auto;
}

#iframe {
	width: 400px;
	height: 300px;
}

#contact  {
	background-color: black;
	height: 250px;
	margin-top: -22px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: rgb(205,149,12);
}

#contact a {
	color: rgb(205,149,12);

}


#images {
	background-color: black;
}

#images img {
	width: 150px;
	height: 120px;
	padding: 20px;
}

#menu {
	padding: 30px;
	background-color: black;
	color: rgb(205,149,12);
	
}

#menu h3 {
	border-width: 2px;
	border-color: rgb(205,149,12);
}
